<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599829046715-iv5vv7t6f9j1c576dpbl8hvl1ktdf8mc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599829046715-iv5vv7t6f9j1c576dpbl8hvl1ktdf8mc</string>
	<key>API_KEY</key>
	<string>AIzaSyBn2rnH675Wip6T9K0CApy9n5IP0Gw3WIc</string>
	<key>GCM_SENDER_ID</key>
	<string>599829046715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berketopcu.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-f7dae</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-f7dae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599829046715:ios:6f8cf40f2b5534f754909e</string>
</dict>
</plist>